{% extends 'base.html.twig' %}

{% block title %}Correo electrónico de restablecimiento de contraseña enviado{% endblock %}

{% block body %}
<div class="example-wrapper">

    <p>Se ha enviado un correo electrónico que contiene un enlace en el que puede hacer clic para restablecer su contraseña. Este enlace caducará en{{ tokenLifetime|date('g') }} hora(s).</p>
    <p>Si no recibe un correo electrónico, consulte su carpeta de correo no deseado o <a href="{{ path('app_forgot_password_request') }}">inténtelo de nuevo.</a>.</p>
    </div>

{% endblock %}
