<h1>¡Hola!</h1>

<p>Para restablecer su contraseña, visite el siguiente enlace</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Este enlace caducará en {{ tokenLifetime|date('g') }} hora(s).</p>

<p>Un cordial saludo</p>
