{% extends 'base.html.twig' %}

{% block title %}Restablecer Contrase単a{% endblock %}

{% block body %}
<div class="example-wrapper">

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Restablecer Contrase単a</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
               Introduzca su email para recibir un link para Restablecer su Contrase単a
            </small>
        </div>

        <button class="btn btn-primary">Restablecer Contrase単a</button>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}