{% extends 'base.html.twig' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block body %}
<div class="example-wrapper">

    <h1>Restablecer Contraseña</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Cambiar Contraseña</button>
    {{ form_end(resetForm) }}
    </div>

{% endblock %}
