{% extends 'base.html.twig' %}

{% block title %}Enviar Mensaje✍{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>✍Enviar Mensaje al usuario✍</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>


{% endblock %}
